{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Work Tracker{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Demo Project for BakerSoft GmbH Backend Developer Position Application. Consisting of a multi-user/multi-project work tracking system presented as a RESTful API.">
    <meta name="author" content="Stefan Klingenberg">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    <!-- ========== CSS ========== -->
    {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    <!-- ========== JS ========== -->
    {% block javascript %}
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock javascript %}

  </head>

  <body>
  <div class="vh-100 d-flex align-items-center justify-content-center">
    <img src="{% static 'images/home.png' %}" alt="Placeholder image with 'You Shall not Pass' text" width="33%">
  </div>
  </body>

</html>
